    <div>
      <header>
        <h1>
          Comparing mistakes and best practices for older Ember (v2, circa 2017)
        </h1>
      </header>
      <section>
        <h2>Mistakes</h2>
        {{mistakes-example}}
      </section>
      <section>
        <h2>Best Practices</h2>
        {{best-practices}}
      </section>
    </div>