    <div>
      <header>
        <h1>
          Comparing mistakes and best practices for Ember Octane
        </h1>
      </header>
      <section>
        <h2>Mistakes</h2>
        <Mistakes />
      </section>
      <section>
        <h2>Best Practices</h2>
        <BestPractices />
      </section>
    </div>

{{outlet}}