header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header h1 {
  display: block;
  max-width: 1000px;
  text-align: center;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 4rem;
}
