<button {{on "click" @someClick}} class="my-button">
  Click here
</button>

<Code @code={{this.code}} />

<Reveal>
  <p>
    This button is not accessible, because it is not a real button. Clicks
    should be attached to elements like buttons, so that you get automatic
    keyboard navigation. As it is here, you cannot use a keyboard to interact
    with it, and screen reader software cannot tell that it is interactive. It
    would take a lot of extra work to replicate the automatic features of
    buttons. Try using tab to navigate a page and find things that have broken
    interactions.
  </p>
  <p>
    In an HTML-first approach, you study the features of HTML and
    how the browsers use them. Whenever possible, you use
    those built-in features instead of creating your own.
  </p>
</Reveal>

